<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.kern1.A</key>
	<array>
		<string>A</string>
		<string>A_hungarumlautcomb</string>
		<string>A_tildecomb</string>
		<string>A_verticallineabovecomb</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adblgrave</string>
		<string>Adieresis</string>
		<string>Adieresismacron</string>
		<string>Adotaccent</string>
		<string>Adotbelow</string>
		<string>Adotmacron</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Ainvertedbreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>angstrom</string>
	</array>
	<key>public.kern1.AE</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
		<string>E</string>
		<string>E_hungarumlautcomb</string>
		<string>E_tildecomb</string>
		<string>E_verticallineabovecomb</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecedillabreve</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edblgrave</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Einvertedbreve</string>
		<string>Emacron</string>
		<string>Emacronacute</string>
		<string>Emacrongrave</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>OE</string>
	</array>
	<key>public.kern1.B</key>
	<array>
		<string>B</string>
		<string>Germandbls</string>
		<string>three.lf</string>
		<string>eight.lf</string>
	</array>
	<key>public.kern1.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccedillaacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Oopen</string>
		<string>cedi</string>
		<string>colonsign</string>
		<string>euro</string>
		<string>guarani</string>
	</array>
	<key>public.kern1.D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>Dmacronbelow</string>
		<string>Schwa</string>
		<string>O</string>
		<string>O_gravecomb</string>
		<string>O_acutecomb</string>
		<string>O_hungarumlautcomb</string>
		<string>O_hungarumlautcomb_dotaboverightcomb</string>
		<string>O_circumflexcomb</string>
		<string>O_caroncomb</string>
		<string>O_brevecomb</string>
		<string>O_tildecomb</string>
		<string>O_macroncomb</string>
		<string>O_verticallineabovecomb</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odblgrave</string>
		<string>Odieresis</string>
		<string>Odieresismacron</string>
		<string>Odotaccent</string>
		<string>Odotaccentmacron</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Oinvertedbreve</string>
		<string>Omacron</string>
		<string>Omacronacute</string>
		<string>Omacrongrave</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Otildeacute</string>
		<string>Otildedieresis</string>
		<string>Otildemacron</string>
		<string>Q</string>
		<string>zero.lf</string>
		<string>nine.lf</string>
		<string>copyright</string>
		<string>registered</string>
	</array>
	<key>public.kern1.F</key>
	<array>
		<string>F</string>
		<string>franc</string>
	</array>
	<key>public.kern1.H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>Hbrevebelow</string>
		<string>Hcaron</string>
		<string>Hcircumflex</string>
		<string>Hdotbelow</string>
		<string>I</string>
		<string>I_hungarumlautcomb</string>
		<string>I_tildecomb</string>
		<string>I_verticallineabovecomb</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idblgrave</string>
		<string>Idieresis</string>
		<string>Idieresisacute</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Iinvertedbreve</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Istroke</string>
		<string>Itilde</string>
		<string>M</string>
		<string>M_gravecomb</string>
		<string>M_acutecomb</string>
		<string>M_hungarumlautcomb</string>
		<string>M_circumflexcomb</string>
		<string>M_caroncomb</string>
		<string>M_brevecomb</string>
		<string>M_macroncomb</string>
		<string>M_verticallineabovecomb</string>
		<string>Macute</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>N_gravecomb</string>
		<string>N_acutecomb</string>
		<string>N_hungarumlautcomb</string>
		<string>N_circumflexcomb</string>
		<string>N_caroncomb</string>
		<string>N_brevecomb</string>
		<string>N_macroncomb</string>
		<string>N_verticallineabovecomb</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Ngrave</string>
		<string>Nmacronbelow</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>I-cy</string>
		<string>paragraph</string>
		<string>bar</string>
		<string>brokenbar</string>
	</array>
	<key>public.kern1.K</key>
	<array>
		<string>K</string>
		<string>Kcaron</string>
		<string>Kcommaaccent</string>
		<string>kip</string>
	</array>
	<key>public.kern1.L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Lmacronbelow</string>
		<string>Lslash</string>
		<string>liraTurkish</string>
	</array>
	<key>public.kern1.P</key>
	<array>
		<string>P</string>
		<string>peso</string>
		<string>ruble</string>
	</array>
	<key>public.kern1.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Sacutedotaccent</string>
		<string>Scaron</string>
		<string>Scarondotaccent</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>Sdotbelow</string>
		<string>Sdotbelowdotaccent</string>
		<string>Dze-cy</string>
		<string>dollar</string>
	</array>
	<key>public.kern1.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>Tmacronbelow</string>
	</array>
	<key>public.kern1.Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>public.kern1.U</key>
	<array>
		<string>U</string>
		<string>U_hungarumlautcomb</string>
		<string>U_tildecomb</string>
		<string>U_verticallineabovecomb</string>
		<string>Uacute</string>
		<string>Ubar</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udblgrave</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresisbelow</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhungarumlaut</string>
		<string>Uinvertedbreve</string>
		<string>Umacron</string>
		<string>Umacrondieresis</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Utildeacute</string>
		<string>manat</string>
	</array>
	<key>public.kern1.V</key>
	<array>
		<string>V</string>
		<string>won</string>
	</array>
	<key>public.kern1.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern1.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern1.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ymacron</string>
		<string>Ytilde</string>
		<string>yen</string>
	</array>
	<key>public.kern1.a</key>
	<array>
		<string>a</string>
		<string>a_hungarumlautcomb</string>
		<string>a_tildecomb</string>
		<string>a_verticallineabovecomb</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adblgrave</string>
		<string>adieresis</string>
		<string>adieresismacron</string>
		<string>adotaccent</string>
		<string>adotbelow</string>
		<string>adotmacron</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>ainvertedbreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>h</string>
		<string>hbar</string>
		<string>hbrevebelow</string>
		<string>hcaron</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>m</string>
		<string>m_gravecomb</string>
		<string>m_acutecomb</string>
		<string>m_hungarumlautcomb</string>
		<string>m_circumflexcomb</string>
		<string>m_caroncomb</string>
		<string>m_brevecomb</string>
		<string>m_macroncomb</string>
		<string>m_verticallineabovecomb</string>
		<string>macute</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>n_gravecomb</string>
		<string>n_acutecomb</string>
		<string>n_hungarumlautcomb</string>
		<string>n_circumflexcomb</string>
		<string>n_caroncomb</string>
		<string>n_brevecomb</string>
		<string>n_macroncomb</string>
		<string>n_verticallineabovecomb</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>ngrave</string>
		<string>nmacronbelow</string>
		<string>ntilde</string>
	</array>
	<key>public.kern1.ae</key>
	<array>
		<string>ae</string>
		<string>aeacute</string>
		<string>e</string>
		<string>e_hungarumlautcomb</string>
		<string>e_tildecomb</string>
		<string>e_verticallineabovecomb</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecedillabreve</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edblgrave</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>einvertedbreve</string>
		<string>emacron</string>
		<string>emacronacute</string>
		<string>emacrongrave</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>oe</string>
	</array>
	<key>public.kern1.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern1.asterisk</key>
	<array>
		<string>asterisk</string>
		<string>control</string>
		<string>asciicircum</string>
	</array>
	<key>public.kern1.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern1.b</key>
	<array>
		<string>b</string>
		<string>eth</string>
		<string>schwa</string>
		<string>o</string>
		<string>o_gravecomb</string>
		<string>o_acutecomb</string>
		<string>o_hungarumlautcomb</string>
		<string>o_circumflexcomb</string>
		<string>o_caroncomb</string>
		<string>o_brevecomb</string>
		<string>o_tildecomb</string>
		<string>o_macroncomb</string>
		<string>o_verticallineabovecomb</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odblgrave</string>
		<string>odieresis</string>
		<string>odieresismacron</string>
		<string>odotaccent</string>
		<string>odotaccentmacron</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>oinvertedbreve</string>
		<string>omacron</string>
		<string>omacronacute</string>
		<string>omacrongrave</string>
		<string>oogonek</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>otildeacute</string>
		<string>otildedieresis</string>
		<string>otildemacron</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>public.kern1.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern1.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccedillaacute</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>cent</string>
	</array>
	<key>public.kern1.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern1.d</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>ddotbelow</string>
		<string>dmacronbelow</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>ldotbelow</string>
		<string>lmacronbelow</string>
		<string>lslash</string>
		<string>f_f_l</string>
		<string>fl</string>
	</array>
	<key>public.kern1.exclam</key>
	<array>
		<string>exclam</string>
		<string>exclamdown</string>
	</array>
	<key>public.kern1.f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>public.kern1.five</key>
	<array>
		<string>five.lf</string>
	</array>
	<key>public.kern1.four</key>
	<array>
		<string>four.lf</string>
	</array>
	<key>public.kern1.g</key>
	<array>
		<string>g</string>
		<string>gacute</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gmacron</string>
		<string>idotless</string>
		<string>idotless_hungarumlautcomb</string>
		<string>idotless_tildecomb</string>
		<string>idotless_verticallineabovecomb</string>
		<string>i_tildecomb</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>idblgrave</string>
		<string>idieresisacute</string>
		<string>idotaccent</string>
		<string>ihookabove</string>
		<string>iinvertedbreve</string>
		<string>imacron</string>
		<string>istroke</string>
		<string>itilde</string>
		<string>q</string>
		<string>u</string>
		<string>u_hungarumlautcomb</string>
		<string>u_tildecomb</string>
		<string>u_verticallineabovecomb</string>
		<string>uacute</string>
		<string>ubar</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udblgrave</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresisbelow</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhungarumlaut</string>
		<string>uinvertedbreve</string>
		<string>umacron</string>
		<string>umacrondieresis</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>utildeacute</string>
		<string>i_verticallineabovecomb</string>
		<string>i_hungarumlautcomb</string>
	</array>
	<key>public.kern1.germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>public.kern1.guillemotleft</key>
	<array>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern1.guillemotright</key>
	<array>
		<string>guillemetright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern1.k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>public.kern1.longs</key>
	<array>
		<string>longs</string>
	</array>
	<key>public.kern1.one.lf</key>
	<array>
		<string>one.lf</string>
	</array>
	<key>public.kern1.ordfeminine</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>trademark</string>
		<string>degree</string>
		<string>numero</string>
	</array>
	<key>public.kern1.parenleft</key>
	<array>
		<string>parenleft</string>
		<string>braceleft</string>
		<string>bracketleft</string>
	</array>
	<key>public.kern1.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>periodcentered.loclCAT</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern1.periodcentered</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>hyphenationpoint</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>figuredash</string>
		<string>hyphentwo</string>
		<string>bulletoperator</string>
	</array>
	<key>public.kern1.questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>public.kern1.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>minute</string>
		<string>second</string>
	</array>
	<key>public.kern1.quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern1.quotedblright</key>
	<array>
		<string>quotedblright</string>
		<string>quoteright</string>
	</array>
	<key>public.kern1.r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdblgrave</string>
		<string>rdotbelow</string>
		<string>rinvertedbreve</string>
		<string>rmacronbelow</string>
	</array>
	<key>public.kern1.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>sacutedotaccent</string>
		<string>scaron</string>
		<string>scarondotaccent</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
		<string>sdotbelowdotaccent</string>
		<string>dze-cy</string>
		<string>peseta</string>
	</array>
	<key>public.kern1.seven</key>
	<array>
		<string>seven.lf</string>
	</array>
	<key>public.kern1.six</key>
	<array>
		<string>six.lf</string>
	</array>
	<key>public.kern1.slash</key>
	<array>
		<string>slash</string>
		<string>divisionslash</string>
	</array>
	<key>public.kern1.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdieresis</string>
		<string>tdotbelow</string>
		<string>tmacronbelow</string>
		<string>s_t</string>
	</array>
	<key>public.kern1.uni01C8</key>
	<array>
		<string>Lj</string>
		<string>Nj</string>
		<string>i</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ij</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>lj</string>
		<string>nj</string>
		<string>iacute_j.loclNLD</string>
		<string>f_f_i</string>
		<string>f_j</string>
		<string>fi</string>
		<string>i_j.loclNLD</string>
	</array>
	<key>public.kern1.uni0233</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ymacron</string>
		<string>ytilde</string>
	</array>
	<key>public.kern1.x</key>
	<array>
		<string>x</string>
	</array>
	<key>public.kern2.A</key>
	<array>
		<string>A</string>
		<string>A_hungarumlautcomb</string>
		<string>A_tildecomb</string>
		<string>A_verticallineabovecomb</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adblgrave</string>
		<string>Adieresis</string>
		<string>Adieresismacron</string>
		<string>Adotaccent</string>
		<string>Adotbelow</string>
		<string>Adotmacron</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Ainvertedbreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>angstrom</string>
	</array>
	<key>public.kern2.AE</key>
	<array>
		<string>AE</string>
		<string>AEacute</string>
	</array>
	<key>public.kern2.B</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>DZcaron</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>Dmacronbelow</string>
		<string>Dzcaron</string>
		<string>E</string>
		<string>E_hungarumlautcomb</string>
		<string>E_tildecomb</string>
		<string>E_verticallineabovecomb</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecedillabreve</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edblgrave</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Einvertedbreve</string>
		<string>Emacron</string>
		<string>Emacronacute</string>
		<string>Emacrongrave</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hbrevebelow</string>
		<string>Hcaron</string>
		<string>Hcircumflex</string>
		<string>Hdotbelow</string>
		<string>I</string>
		<string>IJ</string>
		<string>I_hungarumlautcomb</string>
		<string>I_tildecomb</string>
		<string>I_verticallineabovecomb</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idblgrave</string>
		<string>Idieresis</string>
		<string>Idieresisacute</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Iinvertedbreve</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Istroke</string>
		<string>Itilde</string>
		<string>K</string>
		<string>Kcaron</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>LJ</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Lj</string>
		<string>Lmacronbelow</string>
		<string>M</string>
		<string>M_gravecomb</string>
		<string>M_acutecomb</string>
		<string>M_hungarumlautcomb</string>
		<string>M_circumflexcomb</string>
		<string>M_caroncomb</string>
		<string>M_brevecomb</string>
		<string>M_macroncomb</string>
		<string>M_verticallineabovecomb</string>
		<string>Macute</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>NJ</string>
		<string>N_gravecomb</string>
		<string>N_acutecomb</string>
		<string>N_hungarumlautcomb</string>
		<string>N_circumflexcomb</string>
		<string>N_caroncomb</string>
		<string>N_brevecomb</string>
		<string>N_macroncomb</string>
		<string>N_verticallineabovecomb</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Ngrave</string>
		<string>Nj</string>
		<string>Nmacronbelow</string>
		<string>Ntilde</string>
		<string>Eng</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdblgrave</string>
		<string>Rdotbelow</string>
		<string>Rinvertedbreve</string>
		<string>Rmacronbelow</string>
		<string>Germandbls</string>
		<string>Iacute_J.loclNLD</string>
		<string>I_J.loclNLD</string>
		<string>I-cy</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>rupeeIndian</string>
	</array>
	<key>public.kern2.C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccedillaacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Schwa</string>
		<string>G</string>
		<string>Gacute</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gmacron</string>
		<string>O</string>
		<string>O_gravecomb</string>
		<string>O_acutecomb</string>
		<string>O_hungarumlautcomb</string>
		<string>O_hungarumlautcomb_dotaboverightcomb</string>
		<string>O_circumflexcomb</string>
		<string>O_caroncomb</string>
		<string>O_brevecomb</string>
		<string>O_tildecomb</string>
		<string>O_macroncomb</string>
		<string>O_verticallineabovecomb</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odblgrave</string>
		<string>Odieresis</string>
		<string>Odieresismacron</string>
		<string>Odotaccent</string>
		<string>Odotaccentmacron</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Oinvertedbreve</string>
		<string>Omacron</string>
		<string>Omacronacute</string>
		<string>Omacrongrave</string>
		<string>Oogonek</string>
		<string>Oopen</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Otildeacute</string>
		<string>Otildedieresis</string>
		<string>Otildemacron</string>
		<string>OE</string>
		<string>Q</string>
		<string>zero.lf</string>
		<string>six.lf</string>
		<string>copyright</string>
		<string>registered</string>
		<string>cedi</string>
		<string>colonsign</string>
		<string>euro</string>
		<string>guarani</string>
	</array>
	<key>public.kern2.J</key>
	<array>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>Je-cy</string>
	</array>
	<key>public.kern2.S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Sacutedotaccent</string>
		<string>Scaron</string>
		<string>Scarondotaccent</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>Sdotbelow</string>
		<string>Sdotbelowdotaccent</string>
		<string>Dze-cy</string>
		<string>dollar</string>
	</array>
	<key>public.kern2.T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotbelow</string>
		<string>Tmacronbelow</string>
	</array>
	<key>public.kern2.U</key>
	<array>
		<string>U</string>
		<string>U_hungarumlautcomb</string>
		<string>U_tildecomb</string>
		<string>U_verticallineabovecomb</string>
		<string>Uacute</string>
		<string>Ubar</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udblgrave</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresisbelow</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Uinvertedbreve</string>
		<string>Umacron</string>
		<string>Umacrondieresis</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Utildeacute</string>
		<string>manat</string>
	</array>
	<key>public.kern2.V</key>
	<array>
		<string>V</string>
		<string>won</string>
	</array>
	<key>public.kern2.W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>public.kern2.X</key>
	<array>
		<string>X</string>
	</array>
	<key>public.kern2.Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ymacron</string>
		<string>Ytilde</string>
		<string>yen</string>
	</array>
	<key>public.kern2.a</key>
	<array>
		<string>a</string>
		<string>a_hungarumlautcomb</string>
		<string>a_tildecomb</string>
		<string>a_verticallineabovecomb</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adblgrave</string>
		<string>adieresis</string>
		<string>adieresismacron</string>
		<string>adotaccent</string>
		<string>adotbelow</string>
		<string>adotmacron</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>ainvertedbreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
	</array>
	<key>public.kern2.ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>public.kern2.asterisk</key>
	<array>
		<string>asterisk</string>
		<string>control</string>
		<string>asciicircum</string>
	</array>
	<key>public.kern2.at</key>
	<array>
		<string>at</string>
	</array>
	<key>public.kern2.b</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>hbrevebelow</string>
		<string>hcaron</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>ldotbelow</string>
		<string>lj</string>
		<string>lmacronbelow</string>
		<string>thorn</string>
	</array>
	<key>public.kern2.backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>public.kern2.c</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccedillaacute</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>dmacronbelow</string>
		<string>dzcaron</string>
		<string>e</string>
		<string>e_hungarumlautcomb</string>
		<string>e_tildecomb</string>
		<string>e_verticallineabovecomb</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecedillabreve</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edblgrave</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>einvertedbreve</string>
		<string>emacron</string>
		<string>emacronacute</string>
		<string>emacrongrave</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>schwa</string>
		<string>g</string>
		<string>gacute</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gmacron</string>
		<string>o</string>
		<string>o_gravecomb</string>
		<string>o_acutecomb</string>
		<string>o_hungarumlautcomb</string>
		<string>o_circumflexcomb</string>
		<string>o_caroncomb</string>
		<string>o_brevecomb</string>
		<string>o_tildecomb</string>
		<string>o_macroncomb</string>
		<string>o_verticallineabovecomb</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odblgrave</string>
		<string>odieresis</string>
		<string>odieresismacron</string>
		<string>odotaccent</string>
		<string>odotaccentmacron</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>oinvertedbreve</string>
		<string>omacron</string>
		<string>omacronacute</string>
		<string>omacrongrave</string>
		<string>oogonek</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>otildeacute</string>
		<string>otildedieresis</string>
		<string>otildemacron</string>
		<string>oe</string>
		<string>q</string>
		<string>cent</string>
		<string>dong</string>
	</array>
	<key>public.kern2.colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>public.kern2.dotlessi</key>
	<array>
		<string>idotaccent</string>
		<string>kgreenlandic</string>
		<string>p</string>
		<string>iacute_j.loclNLD</string>
	</array>
	<key>public.kern2.eight</key>
	<array>
		<string>eight.lf</string>
	</array>
	<key>public.kern2.f</key>
	<array>
		<string>f</string>
		<string>longs</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>f_j</string>
		<string>fi</string>
		<string>fl</string>
	</array>
	<key>public.kern2.four</key>
	<array>
		<string>four.lf</string>
	</array>
	<key>public.kern2.guillemotleft</key>
	<array>
		<string>guillemetleft</string>
		<string>guilsinglleft</string>
	</array>
	<key>public.kern2.guillemotright</key>
	<array>
		<string>guillemetright</string>
		<string>guilsinglright</string>
	</array>
	<key>public.kern2.i</key>
	<array>
		<string>i</string>
		<string>idotless_hungarumlautcomb</string>
		<string>idotless_verticallineabovecomb</string>
		<string>iacute</string>
		<string>idblgrave</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>ij</string>
		<string>iogonek</string>
		<string>istroke</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>i_j.loclNLD</string>
		<string>i_verticallineabovecomb</string>
		<string>i_hungarumlautcomb</string>
		<string>i-cy</string>
	</array>
	<key>public.kern2.idotless</key>
	<array>
		<string>idotless</string>
		<string>m</string>
		<string>m_gravecomb</string>
		<string>m_acutecomb</string>
		<string>m_hungarumlautcomb</string>
		<string>m_circumflexcomb</string>
		<string>m_caroncomb</string>
		<string>m_brevecomb</string>
		<string>m_macroncomb</string>
		<string>m_verticallineabovecomb</string>
		<string>macute</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>n_gravecomb</string>
		<string>n_acutecomb</string>
		<string>n_hungarumlautcomb</string>
		<string>n_circumflexcomb</string>
		<string>n_caroncomb</string>
		<string>n_brevecomb</string>
		<string>n_macroncomb</string>
		<string>n_verticallineabovecomb</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>ngrave</string>
		<string>nj</string>
		<string>nmacronbelow</string>
		<string>ntilde</string>
		<string>eng</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdblgrave</string>
		<string>rdotbelow</string>
		<string>rinvertedbreve</string>
		<string>rmacronbelow</string>
	</array>
	<key>public.kern2.ilong</key>
	<array>
		<string>idotless_tildecomb</string>
		<string>i_tildecomb</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idieresisacute</string>
		<string>iinvertedbreve</string>
		<string>imacron</string>
		<string>itilde</string>
	</array>
	<key>public.kern2.ordfeminine</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>trademark</string>
		<string>degree</string>
	</array>
	<key>public.kern2.parenright</key>
	<array>
		<string>parenright</string>
		<string>braceright</string>
		<string>bracketright</string>
	</array>
	<key>public.kern2.period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>periodcentered.loclCAT</string>
		<string>underscore</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
	</array>
	<key>public.kern2.periodcentered</key>
	<array>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>hyphenationpoint</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>figuredash</string>
		<string>hyphentwo</string>
		<string>bulletoperator</string>
	</array>
	<key>public.kern2.question</key>
	<array>
		<string>question</string>
	</array>
	<key>public.kern2.quotedbl</key>
	<array>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>minute</string>
		<string>second</string>
	</array>
	<key>public.kern2.quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
	</array>
	<key>public.kern2.quotedblright</key>
	<array>
		<string>quoteright</string>
	</array>
	<key>public.kern2.s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>sacutedotaccent</string>
		<string>scaron</string>
		<string>scarondotaccent</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
		<string>sdotbelowdotaccent</string>
		<string>s_t</string>
		<string>dze-cy</string>
	</array>
	<key>public.kern2.seven</key>
	<array>
		<string>seven.lf</string>
	</array>
	<key>public.kern2.slash</key>
	<array>
		<string>slash</string>
		<string>divisionslash</string>
	</array>
	<key>public.kern2.t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdieresis</string>
		<string>tdotbelow</string>
		<string>tmacronbelow</string>
	</array>
	<key>public.kern2.u</key>
	<array>
		<string>u</string>
		<string>u_hungarumlautcomb</string>
		<string>u_tildecomb</string>
		<string>u_verticallineabovecomb</string>
		<string>uacute</string>
		<string>ubar</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udblgrave</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresisbelow</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>uinvertedbreve</string>
		<string>umacron</string>
		<string>umacrondieresis</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>utildeacute</string>
		<string>micro</string>
	</array>
	<key>public.kern2.uni0233</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ymacron</string>
		<string>ytilde</string>
	</array>
	<key>public.kern2.x</key>
	<array>
		<string>x</string>
	</array>
</dict>
</plist>
